.navbar{
    background: black;
    color: white;
    text-transform: uppercase;
}
.first-part{
    background-color: rgb(245, 245, 27);
    height: 400px auto;
    color: black;
    margin-top: 75px;
}
.second-part{
    background: black;
    height: 700px auto;
    color: white;
    font-weight: bold;   
}
h2{
    font-weight: bold;
}
.third-part{
    background: black;
    height: 700px auto;   
}
#product-image{
    /*height: 480px;
    width: 400px;*/
    max-width: 100%;
      display: block;
      height:400px;
      width: 400px;
      position: static;
}
.big{
    font-size:50px;
}
button{

    border-top: 1px solid #000000;
    background: #000000;
    background: -webkit-gradient(linear, left top, left bottom, from(#f2e018), to(#000000));
    background: -webkit-linear-gradient(top, #f2e018, #000000);
    background: -moz-linear-gradient(top, #f2e018, #000000);
    background: -ms-linear-gradient(top, #f2e018, #000000);
    background: -o-linear-gradient(top, #f2e018, #000000);
    padding: 11px 22px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 17px;
    font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    vertical-align: middle;
    }
 button:hover {
    border-top-color: #f5f5f5;
    background: #f5f5f5;
    color: #000000;
    }
 button:active {
    border-top-color: #aba813;
    background: #aba813;
    }
ul{
    list-style: none;
}
form{
    margin-top: 30px;
}
.card-body{
    background: black;
    color: white;
}
.card-footer{
    background: rgb(26, 25, 25); 
}
footer{
    height:60px;
    background: rgb(26, 25, 25);
    color: white;
}